footer {
  background: #cdcdcd;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.material-icons {
  font-size: 32px;
}

.mat-icon {
  height: 32px;
  width: 32px;
}

.mat-icon-button i,
.mat-icon-button .mat-icon {
  line-height: 32px;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}

.footer-wrapper {
  padding: 10px;
}


.footer-spacer {
  height: 60px;
  border-right: 1px dotted rgba(255, 255, 255, 0.25);
}
