<div class="app-section-header">
  <h1 class="app-section-title">Outfit Generator</h1>
  <button class="app-section-action-button" mat-icon-button [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu">
    <mat-icon>library_add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>create</mat-icon>
      <a routerLink="/new-item">
        Generate
      </a>
    </button>
    <button mat-menu-item>
      <mat-icon>delete_sweep</mat-icon>
      <span>Clear All</span>
    </button>
  </mat-menu>
</div>
